* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  background-color: white;
}

/*
HEADER
*/
#title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #0047FF;
  height: 138px;
  width: 100%;
  padding: 30px 24px;
  
}

.FKEduSearch {
  font: 2.5rem 'Poppins', sans-serif;
  margin-left: 50px;

  
}

.searchbar{
  position:absolute;
  margin-left: 450px;
  padding-top:60px;
}
input[type=search]
{
  padding: 10px 110px;
  border-radius:10px;
  text-align: left;
}

.iconNotification{
  position: absolute;
  left:1000px;
  top: 88px;
}

.Message{
  position: absolute;
  left:1060px;
  top: 88px;


}

.icon-link {
  position: absolute;
  right: 30px;
  top: 80px;
  font-size: 22px;
  text-decoration: none;
  color:white;
  font-family: sans-serif;
}

/*
NAVIGRATINO BAR
*/
#nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #CBD8FA;
  height: 100%;
  width: 200px;
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 13px;

}
.nav-link {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left:35px;
  color: black;
  font-family: 'PT-serif', serif;
  text-decoration: none;
  text-align: left;
  font-size:18px;

}
.active, .nav-link:hover {
  color: black;
  background-color: #A6B7E4;
  transition: all ease-in 200ms;
}

ul{
  list-style-type:none;
 
}

.column {
float: left;
padding:0px;
}

.centercontent::after {
content: "";
clear: both;
display: table;
}

.LeftNavigationbar{
  width:16%

}
.main-content {
background-color: white;
width: 84%;

}